<!--* MarkItUp (editor="markitup") is a Markdown editor without visual formatting *-->

<!--* BIO TEXT TEMPLATE *-->

<perch:help>
	<p>Choose carefully from the provided template fields for the right content types to match the content of each paragraph of your bio text (look for the <!--* <img src="/assets/dist/img/ui-icons/block-arrow.png" alt="block arrow icon" /> *-->&#8195;<svg class="ui-icon" role="img" width="20" height="20" class="icon icon-add" title="Add" aria-label="Add"><use xlink:href="/perch/core/assets/svg/core.svg#add"></use></svg>&#32;<strong>add symbol</strong> located on the lower right):
	<ul>
		<li><strong>blockquote</strong> for any block quotations</li>
		<li><strong>general paragraph</strong> for paragraphs of ordinary text</li>
	</ul>
	<p><!--* you can then include inline quotations, citations of names of works, or url links, or *-->Within a general paragraph, be sure to use careful and correct punctuation. <strong>Avoid inconsistent use of quotation marks</strong>. If you need to include links or <strong>italicize text to cite a work</strong>, see the markdown link. This will make sure your content is nicely formatted for both human and computer readability, and search engine friendly.</p>
    <p>Be sure to <strong>only fill in the specified content</strong> for each of the template fields provided. If you find you have content that does not fit within the current template, please let me know so we can adjust to meet requirements. Do not be tempted to try and shoehorn content into existing fields!</p>
</perch:help>

<perch:blocks divider-before="Pick and mix of individual paragraph types to make up the whole text" order="1">

  
<!--* block templates *-->
	<perch:block type="text" label="General paragraph" icon="edit">
		<perch:template path="content/jvw/blocks/paragraph.html" />
	</perch:block>
	<perch:block type="quote" label="Blockquote" icon="quote">
		<perch:template path="content/jvw/blocks/blockquote.html" />
	</perch:block>
	<!--* !!!!!!!!!!!! BLOCKS WITHIN TEMPLATE DO NOT WORK !!!!!!!!!!!!!!
	<perch:block type="text" label="Paragraph with blocks" icon="pencil">
		<perch:template path="content/jvw/blocks/paragraph-with-blocks.html" />
	</perch:block>
	*-->
<!--* ------------------------------------------------------------ *-->

</perch:blocks>

<!--* ------------------- REFERENCE MARK UP ---------------- 
<blockquote cite="https://www.huxley.net/bnw/four.html">
    <p>Words can be like X-rays, if you use them properly – they'll go through anything. You read and you're pierced.</p>
</blockquote>
<cite>– Aldous Huxley, Brave New World</cite>

<p>In <cite>2001: A Space Odyssey</cite>, Dave asks HAL to open the pod bay door and HAL answers: <q cite="https://www.imdb.com/title/tt0062622/quotes/qt0396921">I'm sorry, Dave. I'm afraid I can't do that.</q></p>

*-->

